#heading {
    font-style: italic;
    font-size: 100px;
    margin: 20px;
    margin-left: 0px;
}

#headingImg img {
    width: 400px;
    height: 100px;
    margin-left: 20px;
}
#departure-screen {
    width: 1000px;         
    height: 458px;      
    color: white;
    border: 10px solid #000;
}

#toTrains {
    width: 1500px;
    height: 300px;
    font-size: 50px;
    text-align: center;
}

.departures{
    font-family: Arial, sans-serif;
    display: flex;
    font-weight: bold;
    background-color: #000;
    font-size: 25px;
}

.row {
    display: flex;
    font-size: 19px;
    background-color: grey;
}

.cell {
    width: 200px;
    padding: 10px;
    text-align: left;
}

.nec {
    background-color: red;        
}

.njcl {
    background-color: aqua;
}

.amt {
    background-color: rgba(255, 255, 0, 0.781);
}

.delayed {
    color: red;
    font-weight: bold;
    opacity: 0.8;
    text-decoration: underline;
}

.boarding {
    color: yellow;
    font-weight: bold;
    opacity: 0.8;
}
